
h1{
    text-align: center;
    color: white;
}



p {
    font-weight: bolder;
    text-align: justify;
	color: white;
	text-align: justify;

}

.content
{
background: rgba(255, 255, 255, 0.17);
border-radius: 1px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0);
backdrop-filter: blur(7px);
width: 100%;
border: 1px solid rgba(255, 255, 255, 0.26);

}





