
<div class="main">
    <div (click)="gotourl('')" [class.selected]="url === '/'">Home</div>
    <div (click)="gotourl('about-us')" [class.selected]="url === '/about-us'">Aboutus</div>
    <div (click)="gotourl('client-register')"  [class.selected]="url === '/client-register'">Register</div>
    <div (click)="gotourl('client-login')" [class.selected]="url === '/client-login'">ClientLogin</div>
    <div (click)="gotourl('admin-login')" [class.selected]="url === '/admin-login'">AdminLogin</div>
    <div (click)="gotourl('contact-us')" [class.selected]="url === '/contact-us'">Contactus</div>
</div>