.main
{
    display: flex;
    justify-content: space-between;
    height: 44px;
    background-color: chartreuse;
    align-items: center;
}
.main > .selected {
    background: burlywood;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 10px 0 10px;
}
.main div
{
    cursor: pointer;
}
